<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/admin_login.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="modal">
            <div class="modal-wrap ">
                <div class="modal-content">
                    <div class="modal-input-box">
                        <input type="text" name="loginAccount" id="loginAccount" placeholder="아이디">
                        <input type="password" name="loginPassword" id="loginPassword" placeholder="비밀번호" minlength="8">
                    </div>
                    <div class="error-box">
                        <span class="error m-login"></span>
                    </div>
                    <button type="button" id="login">로그인</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>